body, html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
  padding: 20px 40px 20px 20px;
  color: white;
  background-color: black;
}

header h1{
  letter-spacing: 4px;
  display: inline-block;
  height: inherit;
  margin: 0;
}

header h3{
  /*margin-left: 150px;*/
  display: inline-block;
  float: right;
  height: inherit;
  margin: 0;
  padding-top: 5px;
  letter-spacing: 2px;

}

.UiContainer{
  height: 90vh;
	padding: 20px 50px;
  /*background: linear-gradient(#0ae9e2, #5337f1);*/
}

.btn {
  text-transform: uppercase;
  width: 150px;
  padding: 0;
  font-size: 1.1em;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 100px;
  transition: all 0.2s ;
  background: #000;
  border-color: none;
}

.btnIcon{
	font-size: 3em;
}


.logoContainer{
	width: 80%;
	margin: auto;
	margin-top: 30px;
  text-align: center;
}

.logoContainer img{
	width: 80px;
}

label{
  display: block;
  margin-bottom: 5px;
}

#blendModeP{
  text-transform: none;
  font-size: 0.8em;
  margin-bottom: 10px;
}


// grid

.row{
	width: 100%;
}

.row.center{
	text-align: center;
}

.cell{
  margin-bottom: 20px;
}

.small-6{
	width: 50%;
	display: inline-block;
}
.small-12{
  width: 100%;
}

.uppercase{
  text-transform: uppercase;
}