body, html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "termina",sans-serif;
}

header{
  padding: 25px 20px 20px 25px;
  color: white;
  background-color: black;
}

/*fonts*/

.tk-termina { font-family: "termina",sans-serif; }
.tk-ibm-plex-mono { font-family: "ibm-plex-mono",sans-serif; }

#chromaLogo{
  display: inline-block;
  width: 210px; 
  margin: 0;
}

#alloyLogo{
  /*margin-left: 150px;*/
  display: inline-block;
  float: right;
  height: inherit;
  margin: 0;
  width: 70px;
  /*padding-top: 5px;*/

}

.UiContainer{
  height: auto;
  padding: 20px 40px;
  /*background: linear-gradient(#0ae9e2, #5337f1);*/
}

.btn {
  text-transform: uppercase;
  width: 170px;
  padding: 0;
  font-size: 1em;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 100px;
  background: #000;
  border: none;
  font-family: "ibm-plex-mono",sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  transition: transform 0.3s linear;
  padding-bottom: 2px;
}

@media (min-width: 550px) {
  .btn:active, .btnSquare:active, .btnRound:active{
    transform: scale(1.1);
  } 
}

@media (max-width: 420px) {
  .btn:active, .btnSquare:active, .btnRound:active{
    background-color: #444448
  } 
}

.btn, .btnSquare, .btnRound{
  transition: transform 0.3s, background-color 0.2s;
  transition-timing-function: linear;
}

.btnSquare{
  width: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  background: #000;
  border-color: none;
  margin:0 20px;
  border: none;
}

.btnRound{
  width: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  background: #000;
  border-radius: 1000px;
  border-color: none;
  margin:0 20px;
  border: none;
}

.btn.btnReset{
    width: 120px;
    margin-left: 10px; 
  }

.btn.btnPlay{
  width: 170px;
  margin-right: 10px;
}

.btnSquare img, .btnRound img{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btnIcon{
  font-size: 3em;
}


.logoContainer{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.logoContainer img{
  width: 80px;
}

label{
  display: block;
  margin-bottom: 5px;
  color: white;
  letter-spacing: 3px;
  font-size: 1.3em;
}

#blendModeP{
  text-transform: none;
  font-size: 0.8em;
  margin-bottom: 10px;
}


/*Informatiion*/

#infoContainer{
  padding: 25px 35px;
  /*height: 100vh;*/
  background-color: black;
  color: white;
}

#infoContainer h3{
  text-align: center;
  font-size: 1.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 30px;
}

#infoContainer p{
  font-family: "ibm-plex-mono",sans-serif;
}

.infoDescription p a{
  color: white;
}

#alloyHash{
  color: white;
}

/*form*/

 #mc_embed_signup{
  background:#000; 
  clear:left; 
  width:100%;
}

#mc_embed_signup_scroll{
  max-width: 400px;
  margin: auto;
}

#mc-embedded-subscribe{
  border: 1px solid #fff; 
  width: 200px !important;
  font-size: 0.8em !important;
  margin-top: 15px;
  line-height: 50px !important;
  font-family: "ibm-plex-mono",sans-serif;
  -webkit-appearance: none;
}

#mce-EMAIL{
  border-radius: 0px !important;
  height: 45px !important;
  background: linear-gradient(to right, #FAF305, #83FF8F);
  padding-left: 15px !important; 
  color: #000;
  text-transform: uppercase !important;
  font-family: "ibm-plex-mono",sans-serif !important; 
  letter-spacing: 1px;
  border: none !important;

}

/*footer*/

.social-icons{
  width: 30px;
  margin: 20px 6px;
}

/*#copyrightContainer{
  margin-top: 20px;
}*/

#alloyLogo2{
  /*margin-left: 150px;*/
  display: inline-block;
  height: inherit;
  margin: 0;
  width: 60px;
  height: 30px;
  vertical-align: bottom;
}

.copyRight{
  margin: 0;
  margin-left: 20px;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 7px;
  font-family: "ibm-plex-mono",sans-serif;
}

// grid

.row{
  width: 100%;
}

.row.center{
  text-align: center;
}

.cell{
  margin-bottom: 20px;
}

.small-4{
  /*width: 33.333%;*/
  display: inline-block;
}

.small-6{
  width: 50%;
  display: inline-block;
}
.small-12{
  width: 100%;
}

.small-8{
  /*width: 64.666%;*/
  display: inline-block;
  text-align: left;
}

.lastRow{
  margin: auto;
  margin-top: 50px;
  max-width: 400px;
}

.uppercase{
  text-transform: uppercase;
}

@media(max-width: 420px){
  body{
    font-size: 0.9em;
  }

  .btn{
    width: 170px;
    font-size: 1.4em;
  }

  #mc-embedded-subscribe{
    font-size: 0.8em;
  }
}

@media(max-width: 375px){
  body{
    font-size: 0.9em;
  }

  .UiContainer{
    height: auto;
    padding: 20px 40px;
  /*background: linear-gradient(#0ae9e2, #5337f1);*/
  }

  .btn{
    width: 150px;
    font-size: 1.2em;
  }
  
  .btn.btnPlay{
    width: 165px;
  }

  .btn.btnReset{
    width: 100px;
  }

  #chromaLogo{
    width: 180px
  }

  #alloyLogo{
    width: 60px;
  }
}
@media(max-width: 320px){
  body{
    font-size: 0.8em;
  }

  .btn{
    width: 120px;
  }

  .copyRight{
    font-size: 0.7em;
  }

  #infoContainer h3{
    font-size: 1.5em;
  }

  .btn.btnPlay{
    width: 125px;
  }
}