body, html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  padding: 25px 40px 20px 40px;
  color: white;
  background-color: black;
}

#chromaLogo{
  display: inline-block;
  width: 190px; 
  margin: 0;
}

#alloyLogo{
  /*margin-left: 150px;*/
  display: inline-block;
  float: right;
  height: inherit;
  margin: 0;
  width: 60px;
  /*padding-top: 5px;*/

}

.UiContainer{
  height: 85vh;
  padding: 20px 50px;
  /*background: linear-gradient(#0ae9e2, #5337f1);*/
}

.btn {
  text-transform: uppercase;
  width: 150px;
  padding: 0;
  font-size: 0.9em;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 100px;
  background: #000;
  border: none;
}

.btnSquare{
  width: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  background: #fff;
  border-color: none;
  margin:0 20px;
  border: none;
}

.btnRound{
  width: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  background: #fff;
  border-radius: 1000px;
  border-color: none;
  margin:0 20px;
  border: none;
}

.btnSquare img, .btnRound img{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btnIcon{
  font-size: 3em;
}


.logoContainer{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.logoContainer img{
  width: 80px;
}

label{
  display: block;
  margin-bottom: 5px;
}

#blendModeP{
  text-transform: none;
  font-size: 0.8em;
  margin-bottom: 10px;
}


/*Informatiion*/

#infoContainer{
  padding: 25px 40px;
  height: 100vh;
  background-color: black;
  color: white;
}

#infoContainer h3{
  text-align: center;
  font-size: 1.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#alloyHash{
  color: white;
}

/*form*/

 #mc_embed_signup{
  background:#000; 
  clear:left; 
  width:100%;
}

#mc-embedded-subscribe{
  border: 1px solid #fff; 
  width: 200px;
  margin-top: 15px;
}

#mce-EMAIL{
  border-radius: 0px;
  height: 45px !important;
  background: linear-gradient(to right, #FAF305, #83FF8F);
  padding-left: 15px !important; 
  color: #000;

}

/*footer*/

.social-icons{
  width: 30px;
  margin: 20px 6px;
}

#copyrightContainer{
  margin-top: 20px;
}

#alloyLogo2{
  /*margin-left: 150px;*/
  display: inline-block;
  height: inherit;
  margin: 0;
  width: 60px;
}

.copyRight{
  margin: 0;
  margin-left: 20px;
  display: inline-block;
  font-size: 0.6em;
}

// grid

.row{
  width: 100%;
}

.row.center{
  text-align: center;
}

.cell{
  margin-bottom: 20px;
}

.small-6{
  width: 50%;
  display: inline-block;
}
.small-12{
  width: 100%;
}

.uppercase{
  text-transform: uppercase;
}